@import "../index.scss";

// 手機版

//圖片 wrap

.img-wrap {
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
  img {
    width: 220px;
    height: 80px;
  }
}
// .blue-bg {
//   background-color: $neutral2;
// }
.img-wrap-page {
  position: absolute;
  top: 0;
}

.navBar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: $neutral1;
  transition: 0.5s;

  //列表 wrap
  .navBar-links-wrap {
    background: $neutral1;
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    a {
      text-decoration: none;
      color: $text;
      &:visited {
        text-decoration: none;
      }
    }
    h3 {
      &:active {
        color: $primary;
      }
    }
  }
}
.navbar-move-left {
  transform: translateX(-100%);
}

.navBar-icon {
  width: 38px;
  height: 38px;
  background-color: $neutral1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: fixed;
  top: 30px;
  left: 20px;
  z-index: 90;
}

.navbar-close {
  position: absolute;
  right: 1rem;
  top: 10px;
  font-weight: bold;
  &:active {
    color: $primary;
  }
}

// 網頁版

.desktop-navbar {
  width: 100%;
  // height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  color: $text;
  // padding: 0 12rem 0 0
}

.desktop-img-wrap {
  img {
    width: 100px;
    height: 50px;
  }
}

.desktop-link-wrap {
  height: 50px;
  display: flex;
  gap: 2rem;
  // padding-bottom: 3rem;
  justify-content: center;
  align-items: center;
  h6:hover {
    cursor: pointer;
    color: $primary;
  }
}
