@import "../../index.scss";

.custom-container {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.calendar-icon {
  font-size: 24px;
  right: -10px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}
.react-datepicker__input-container {
  z-index: 1;
  input {
    padding: 10px 20px;
    border-radius: 2rem;
    border: 1px solid $text;
    &:hover {
      border-color: $neutral2;
    }
    &:focus {
      border-color: $neutral2;
      outline: none;
    }
  }
}

.react-datepicker {
  background-color: $neutral1;
}
.react-datepicker {
  /* border-radius: 20px; */
  border-color: $neutral2;
  overflow: hidden;
}
.react-datepicker__navigation--previous {
  left: 10px;
  top: 10px;
}
.react-datepicker__navigation--next {
  right: 10px;
  top: 10px;
}
.react-datepicker__month-container {
  background: $neutral1;
  border: none;
  padding: 10px;
  /* margin: 10px; */
}
.react-datepicker__header {
  background: $neutral1;
  border: none;
}
.react-datepicker__current-month {
  padding-bottom: 20px;
}
.react-datepicker__navigation {
  background: #105ea7;
  border-radius: 10px;
}
.react-datepicker__day {
  margin: 0.16rem 0;
  padding: 0.17rem;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--in-range {
  background-color: $neutral3;
  color: black;
  border-radius: 0%;
}

.react-datepicker__day--range-start {
  background-color: #105ea7;
  color: $neutral1;
  border-radius: 0.3rem;
}
.react-datepicker__day--range-end {
  background-color: #105ea7;
  color: $neutral1;
  border-radius: 0.3rem;
}

@media (min-width: 768px) {
  .react-datepicker__input-container > input {
    padding-right: 100px;
  }
  .calendar-icon {
    right: -50px;
  }
}
